/* NAV STYLES START  - KAAN */

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background: black;
}

button.dropdown-toggle::after {
    content: none;
}

.noArrow.dropdown-toggle::after {
    content: none;
}

.nav {
    margin-bottom: 0;
}

.dropdown {
    position: static;
}

.dropdown-menu {
    width: 100%;
}

.dropdown-menu>li {
    display: inline-block;
}

.dropdown-menu {
    margin-top: 0;
    top: -5;
    width: 35%;
    right: 50%;
    left: auto !important;
    height: 1500%;
}

#menu1, #menu2 {
    margin-left: 590%;
}

#menu2 {
    margin-left: 755%;
}

@media only screen and (max-width:900px) {
    #menu1 {
        position: fixed;
        right: 7%;
    }
    #menu2 {
        position: fixed;
        right: 1%
    }
}

#searchForm {
    margin-top: 60%;
    margin-left: 10%;
    margin-bottom: 10px;
}

#searchText {
    width: 160px;
    border-bottom: 2px black solid;
    margin-top: 20%;
    color: red;
    margin-left: 14%;
}

#searchDiv {
    margin-top: 20%;
    display: block;
    width: 1%;
    margin-left: 12%;
}

#searchButton {
    height: 3%;
}

.nav-link {
    color: white !important;
}

.navbar-nav>li>a:hover {
    color: gray !important;
    transform: rotate(360deg);
    transition: 3s;
    animation-name: example;
    animation-duration: 3s;
}

#logo:hover {
    transform: rotate(360deg);
    transition: 3s;
}

@keyframes example {
    from {
        background-color: silver;
    }
    to {
        background-color: black;
    }
}

#cartText {
    padding-bottom: 2%;
    border-bottom: 1px gainsboro solid;
}

#numProducts {
    border-bottom: 1px gainsboro solid;
    padding-bottom: 2%;
}

#cartMenu p {
    text-align: left;
    margin-left: 3%;
    margin-top: 4%;
}

#special {
    background-color: white;
    width: 70%;
    margin-left: 3%;
    text-align: left;
    height: 300px;
}

#special span {
    padding-top: 14%;
}

#shipping {
    font-size: 55%;
}

.nav {
    margin-bottom: 0;
    padding-bottom: 0;
}

#navUl {
    width: 100%;
    position: absolute;
    left: 50%;
}

/* #bar{
    margin-top: 0;
    padding-top: 0;
    border-top-width: 0;
    top: 0;
    position: absolute;
} */

.cartButton {
    margin-left: 3%;
}

#dolars {
    font-weight: bold;
    font-size: 150%;
}

#abbu-ka {
    margin-right: 0px;
    width: 300px;
}

@media only screen and (max-width: 765px) {
    #navUl {
        margin-left: 15%;
        margin-right: 0;
    }
}

@media only screen and (max-width: 1135px) {
    #navUl {
        width: 100%;
        position: absolute;
        left: 30%;
    }
}

@media only screen and (max-width: 666px) {
    body {
        font-size: 65%;
    }
}

@media only screen and (max-width: 903px) {
    body {
        font-size: 80%;
    }
    #ourStorynav {
        display: none;
    }
}

@media only screen and (max-width: 427px) {
    #abbu-ka {
        width: 80px;
    }
}

@media only screen and (max-width: 710px) {
    .iconlar {
        position: absolute;
        left: 0%;
    }
}

@media (min-width:480px) and (max-width: 575px) {
    #navUl {
        margin-left: 45%;
    }
    .homeText {
        margin-left: 15%;
    }
    #productText {
        margin-left: 10%;
    }
}

@media only screen and (max-width: 575px) {
    #menu1 {
        visibility: hidden;
    }
    #menu2 {
        visibility: hidden;
    }
}

@media (max-width:480px) {
    #navUl {
        margin-left: 45%;
    }
    .homeText {
        margin-left: 15%;
    }
    #menu1 {
        margin-left: 1015%;
        width: 220%;
    }
    #menu2 {
        position: relative;
        bottom: 38px;
        left: 40px;
        width: 220%;
    }
    #productText {
        margin-left: 10%;
    }
}

@media (max-width:470px) {
    #navUl {
        margin-left: 45%;
    }
    .homeText {
        margin-left: 10%;
    }
    #menu1 {
        display: hidden;
    }
    #menu2 {
        position: relative;
        bottom: 38px;
        left: 30px;
        width: 220%;
    }
    #productText {
        margin-left: 2%;
    }
}

@media (min-width:765px) and (max-width: 1135px) {
    .nav {
        margin-bottom: 0;
    }
    .dropdown {
        position: static;
    }
    .dropdown-menu {
        width: 100%;
    }
    .dropdown-menu>li {
        display: inline-block;
    }
    .dropdown-menu {
        width: 35%;
        right: 30%;
        left: auto !important;
        height: 1700%;
    }
}

@media (min-width: 575px) and (max-width: 765px) {
    .nav {
        margin-bottom: 0;
    }
    .dropdown {
        position: static;
    }
    .dropdown-menu {
        width: 100%;
    }
    .dropdown-menu>li {
        display: inline-block;
    }
    .dropdown-menu {
        width: 35%;
        right: 45%;
        left: auto !important;
        height: 1500%;
    }
}

@media (max-width: 575px) {
    .dropdown-menu {
        visibility: hidden;
    }
    * {
        -webkit-transform: unset!important;
        transform: unset !important;
    }
    * {
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
    }
    * {
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
    }
}

@media(max-width:765px) {
    .dropdown-menu {
        width: 35%;
        right: 45%;
        left: auto !important;
        height: 1800%;
    }
}

/* NAV STYLES END  - KAAN */

#gif-kk {
    margin-left: 9%;
    background-size: 100% 480px;
    width: 100%;
    height: 100vh;
    background-image: url("https://media.giphy.com/media/3og0IV7MOCfnm85iRa/giphy.gif");
    background-repeat: no-repeat;
}

.welcome {
    text-align: center;
    font-size: 400%;
    color: white;
    margin-top: 15%;
    padding-top: 15%;
}

#toKeep {
    text-align: center;
    font-size: 110%;
}

.btnWelcome {
    margin-left: 43%;
}

#create {
    margin-left: 16%;
    color: white;
    text-align: left;
    /* border: 1px purple solid; */
    padding: 2.5%;
    border-radius: 4%;
}

#social {
    display: flex;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 3%;
    justify-content: space-around;
    margin-left: 0%;
}

#fb {
    width: 40%;
}

#gp {
    width: 40%;
}

#in {
    width: 40%;
}

#it {
    font-style: italic;
}

@media (min-width:767px) and (max-width:1018px) {
    #create {
        margin-top: 30%;
    }
}

@media only screen and (max-width:767px) {
    #create {
        width: 75%;
        padding-top: 0;
        margin-top: 1%;
    }
    #gif-kk {
        height: 50vh;
        margin-right: 5%;
        margin-left: 0;
    }
}

#login {
    margin-top: 4%;
}

/*--------------Footer-------------*/

footer {
    padding-top: 5%;
}

.footer-left {
    margin-left: -10%;
}

.footer-right {
    width: 100%;
    padding-left: 22%;
}

footer li {
    color: white;
}

.footer-r-a {
    margin-left: -12%;
}

footer a {
    margin-right: 3%;
}

footer li:hover {
    color: lightgrey;
}

.social-media {
    margin-top: 30%;
}
.collapse{
    z-index: 3;
}

#signup-btn-smart {
    position: relative;
    top: -2px;
    margin-left: -10px;
    padding: 5px 15px !important;
    font-weight: bold !important;
    height: 38px;
    border-radius: 0 3px 3px 0;
}

#newsletter-input {
    width: 400px !important;
    border-radius: 3px 0 0 3px;
}

#copyright {
    margin-top: 11%;
}

@media only screen and (max-width: 1200px){
    
}

#login{
    border-bottom: 2px solid gray;
}