/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /*---Header----*/
  .masthead {
    height: 55vh;
    min-height: 300px;
    background-image: url("https://media.giphy.com/media/l0K4lUxBzIOeJd1EA/giphy.gif");
    background-position: left;
    background-repeat: round;
    background-size: 128%;
  }
  .masthead:nth-child(2) {
    padding-top: 38% !important;
  }
  #join-b {
    font-size: 20px;
  }
  #eternal-b {
    letter-spacing: 6px;
    font-size: 20px;
  }
  .shop-btn-head {
    margin-top: 40px !important;
    padding: 10px 40px !important;
    font-weight: bold !important;
  }
  /*---Our Mission----*/
  .mis-tex-smart {
    position: relative;
    transform: translate(0%, 45%) !important;
    margin: 25px;
    z-index: 1;
  }
  .mis-img {
    filter: brightness(30%);
    margin-top: -38%;
    height: 250px !important;
  }
  .mis-tex-smart h1 {
    font-size: 30px;
  }
  /*---Raw / Processed----*/
  .thumbnail {
    position: relative;
  }
  .caption-rev {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
  }
  .center-text-smart h1 {
    font-size: 42px;
  }
  .center-text-smart h4 {
    font-size: 18px;
  }
  #processed-img {
    filter: grayscale();
  }
  /*---Our Story----*/
  .sto-tex-smart {
    position: relative;
    top: -49%;
  }
  .sto-tex-smart h1 {
    font-size: 30px;
  }
  .sto-img-smart {
    height: 370px !important;
    filter: brightness(30%);
  }
  /*---Footer----*/
  footer {
    margin-top: -190px !important;
    padding: 0 9%;
  }
  footer p {
    width: 375px;
  }
  footer h3 {
    font-size: 22px;
  }
  footer h5 {
    font-size: 15px;
    margin-top: 10px;
  }
  footer p {
    color: rgb(239, 225, 218);
  }
  footer ul {
    width: 400px;
    position: relative;
    top: 0%;
    left: -13%;
    transform: translate(-46%, 0);
  }
  footer li {
    list-style-type: none;
    padding-right: 4%;
  }
  footer a {
    color: white;
    font-size: 13px;
  }
  footer a:hover {
    text-decoration: none;
    color: lightgrey;
  }
  .footer-smart-align {
    margin-left: -40%;
  }
  .footer-r-a {
    margin-left: 0%;
  }
  #newsletter-input {
    width: 280px !important;
    border-radius: 3px;
  }
  #signup-btn-smart {
    margin-top: 10% !important;
    margin-left: 1% !important;
    padding: 5px 10px !important;
    font-weight: bold !important;
    height: 38px;
    border-radius: 3px;
    width: 100px;
  }
  #copyright {
   visibility: hidden;
  }
  #soc-med{
    margin-top: -13%;
    padding-left: 8% !important;
  }

  .social-media h6 {
    margin-top: 0px !important;
  }
}

@media only screen and (max-device-width: 800px) and (min-device-width: 481px) {
  .footer-left {
    margin-left: 0px !important;
  }
}